<div class="container sharing">
<a class="btn_google" target="_blank" href="https://plus.google.com/share?hl=en&url=http://transit-vote.thetyee.ca/" title="Share on Google Plus"><img src="/ui/img/google-24x24.png" /></a>
<a class="btn_facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?t=Transit%20Vote%3A%20Which%20leaders%20say%20%22Yes%2C%22%20which%20say%20%22No%3F%22%20%20We%20asked%20them.%20All%20142%20of%20them.&u=http://transit-vote.thetyee.ca/" title="Share on Facebook"><img src="/ui/img/facebook-24x24.png" /></a>
<a class="btn_twitter" target="_blank" href="http://twitter.com/share?text=Transit%20Vote%3A%20Which%20leaders%20say%20%22Yes%2C%22%20which%20say%20%22No%3F%22%20%20We%20asked%20them.%20All%20142%20of%20them.%20%23transitreferendum&url=http://transit-vote.thetyee.ca/" title="Share on Twitter"><img src="/ui/img/twitter-24x24.png" /></a>
</div>
<header class="site-header">
    <div class="container">
        <a href="http://thetyee.ca" title="Back to The Tyee"><h2 id="org-logo">{{ site.title }}</h2></a>
        <a href="/" title="Back to the Transite Vote site"><h3>{{ site.subtitle }}</h3></a>
    </div>
</header>
<div class="container">
    <h1>The Transit Question: How Leaders Will Vote</h1>
    <p class="meta">By {{ site.authors }}, TheTyee.ca. Updated: {{ site.updated }}</p>
</div>
