<div class="container sharing">
<a class="btn_google" target="_blank" href="https://plus.google.com/share?hl=en&url=http://election.thetyee.ca" title="Share on Google Plus"><img src="/ui/img/google-24x24.png" /></a>
<a class="btn_facebook" target="_blank" href="http://www.facebook.com/sharer/sharer.php?t=BC%20Election%20Map%20and%20Guide%20The%20Tyee&u=http://election.thetyee.ca" title="Share on Facebook"><img src="/ui/img/facebook-24x24.png" /></a>
<a class="btn_twitter" target="_blank" href="http://twitter.com/share?text=BC%20Election%20Map%20and%20Guide%20%40TheTyee&url=http://election.thetyee.ca" title="Share on Twitter"><img src="/ui/img/twitter-24x24.png" /></a>
</div>
<header class="site-header">
    <div class="container">
        <a href="http://thetyee.ca" title="Back to The Tyee"><h2 id="org-logo">{{ site.title }}</h2></a>
        <a href="/" title="Back to the Transite Vote site"><h3>{{ site.subtitle }}</h3></a>
    </div>
</header>
<div class="container">
    <h1>The Transit Question: How Leaders Will Vote</h1>
    <p class="meta">By {{ site.authors }}, TheTyee.ca. Updated: {{ site.updated }}</p>
</div>
